version: '3'
services:
  db:
    container_name: db_Contaner
    image: postgres:14
    restart: always
    environment:
      - POSTGRES_USER=testid
      - POSTGRES_PASSWORD=1234a
      - POSTGRES_DB=test
  backend:
    container_name: backend
    build: ./backendServer
    restart: always
    ports:
      - 5000:3000
    depends_on:
      - db